/* ----- Active and Hover Links ----- */
/* ----- Active and Hover Links End ----- */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.crossLine {
  background: #fff;
  position: relative;
  display: inline-block;
  padding: 0px;
  width: 45px;
  height: 25px;
  cursor: pointer;
  border: inherit;
}

.crossLine:focus, .crossLine:hover {
  border: inherit;
  outline: none;
}

.crossLine .line {
  display: block;
  background: #000;
  height: 3px;
  width: 30px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
}

.crossLine .line.crossLine1 {
  top: 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.crossLine .line.crossLine2 {
  top: 45%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.crossLine .line.crossLine3 {
  bottom: 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.crossLine.active .line.crossLine1 {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.crossLine.active .line.crossLine2 {
  opacity: 0;
}

.crossLine.active .line.crossLine3 {
  bottom: 45%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media (max-width: 991px) {
  .crossLine.active {
    background: inherit;
    padding: 25px 0;
  }
  .crossLine.active .line {
    background: #fff;
  }
  .crossLine.active .line.crossLine3 {
    bottom: 50%;
  }
}

#sidebarCollapse {
  z-index: 5555;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', 'Titillium Web';
}

body {
  font-family: "";
  font-weight: 400;
}

body.overflowhidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 20px;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

ul li {
  font-size: 16px;
  line-height: 20px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group .form-control {
  line-height: 40px;
  border: 1px solid #B4B4B4;
}



.mainHeader {
  padding: 10px 0;
  background: #000;
}

.mainHeader header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mainHeader header .logo a {
  display: block;
}

.mainHeader header .navbarLink ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader header .navbarLink ul li {
  margin-left: 10px;
}

.mainHeader header .navbarLink ul li .dropdown-toggle {
  padding: 3px;
}

.mainHeader header .navbarLink ul li .dropdown-toggle::after {
  display: none;
}

.mainHeader header .navbarLink ul li a {
  color: #fff;
  font-size: 15px;
  padding: 10px 12px 10px 12px;
  display: inline-block;
}

@media (max-width: 1199px) {
  .mainHeader header .navbarLink ul li a {
    font-size: 13px;
    padding: 10px 12px 10px 12px;
  }
}

@media (max-width: 991px) {
  .mainHeader header .navbarLink ul li a {
    color: #fff;
    font-size: 16px;
    padding: 10px 12px 10px 12px;
  }
}

.mainHeader header .navbarLink ul li.active a, .mainHeader header .navbarLink ul li:hover a {
  background: none;
  border-radius: 0;
  color: #00daff;
}

@media (max-width: 991px) {
  .mainHeader header .navbarLink ul li.active a, .mainHeader header .navbarLink ul li:hover a {
    color: #00daff;
    background: none;
  }
}

.mainHeader header .navbarLink ul li > .dropdown-menu {
  background: #000;
  padding: 0;
  margin: 0;
  min-width: 120px;
  -webkit-transform: inherit !important;
          transform: inherit !important;
  top: 100% !important;
}

.mainHeader header .navbarLink ul li > .dropdown-menu li {
  margin-left: 0;
}

.mainHeader header .navbarLink ul li > .dropdown-menu li a {
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
}

.mainHeader header .navbarLink ul li > .dropdown-menu li.active, .mainHeader header .navbarLink ul li > .dropdown-menu li:hover {
  background: #000;
}

.mainHeader header .navbarLink ul li > .dropdown-menu li.active > a, .mainHeader header .navbarLink ul li > .dropdown-menu li:hover > a {
  color: #00daff !important;
}

.mainHeader header .navbarLink ul li > .dropdown-menu li.submenu .dropdown-toggle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mainHeader header .navbarLink ul li > .dropdown-menu li.submenu .subdropdown {
  left: 100%;
  top: 0 !important;
}

.navbar-light .navbar-nav .nav-link:hover ,.navbar-light .navbar-nav .nav-link.active{ color: #00daff !important; border-top: 3px solid #0088cc; transition: 0.1s ease-in-out;}
.navbar-light .navbar-nav .nav-link {border: 3px solid transparent;}

@media (max-width: 991px) {
  .mainHeader header .navbarLink ul li > .dropdown-menu li.submenu .dropdown-toggle {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .mainHeader header .navbarLink ul li > .dropdown-menu li.submenu .subdropdown li {
    padding-left: 0px;
  }
}

@media (max-width: 991px) {
  .mainHeader header .navbarLink ul li > .dropdown-menu li {
    text-align: center;
  }
  .mainHeader header .navbarLink ul li > .dropdown-menu li a {
    color: #fff;
    text-align: center;
    padding: 3px 5px;
  }
  .mainHeader header .navbarLink ul li > .dropdown-menu .subdropdown {
    left: 0 !important;
  }
}

.mainHeader header .navbarLink ul li:hover > .dropdown-menu li, .mainHeader header .navbarLink ul li:focus > .dropdown-menu li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .mainHeader header .navbarLink ul li:hover > .dropdown-menu, .mainHeader header .navbarLink ul li:focus > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 10;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .mainHeader header .navbarLink ul li:hover > .dropdown-menu li, .mainHeader header .navbarLink ul li:focus > .dropdown-menu li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainHeader header .navbarLink ul li.openBottom li.submenu .dropdown-toggle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mainHeader header .navbarLink ul li.openBottom .subdropdown {
  left: 0 !important;
  top: 100% !important;
  position: relative;
}

.mainHeader header .navbarLink ul li.openBottom .subdropdown li {
  padding-left: 20px;
}

.mainHeader header .navbarLink ul li.openBottom .subdropdown li a {
  font-size: 13px;
  padding: 0;
}

.mainHeader header .navbarLink ul li.openBottom .subdropdown li:hover {
  background: none;
}

.mainHeader header .navbarLink ul li.openBottom .subdropdown li:hover a {
  color: #000 !important;
}

@media (max-width: 991px) {
  .mainHeader header .navbarLink ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .mainHeader header .navbarLink ul li > .dropdown-menu {
    position: relative !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

.mainHeader header .navbarLink.active {
  left: 0;
}

@media (max-width: 991px) {
  .mainHeader header .navbarLink {
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 999;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: scroll;
    text-align: center;
    padding-top: 35px;
  }
  .mainHeader header .navbarLink .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .mainHeader header .navbarLink #dismiss .d-md-none {
    display: block !important;
  }
}

.logo img{
    height:30px;
    width:150px;
    margin-left: 25px;

}

.menu ul li{
    display: inline-flex;
    padding:0 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 80px;
    align-items: end;
    color: black;
    position: relative;
}


.menu ul li a{
    color: white;
    position: relative;

}

.menu ul li a::after{
    content:'';
    height: 3px;
    width: 0;
    background: rgb(44, 164, 233);
    position: absolute;
    left: 0;
    bottom: 25px;
    transition: 0.5s;
}

.header{
    margin-top: -16px;
}

.header .navbar-light .navbar-toggler{ background: url('./hamburger.png') no-repeat !important; background-image: inherit;}
.menu ul li a:hover::after{
    width: 100%;
    
}

.menu ul li a:hover{
    color:rgb(44, 164, 233);
}

#navbarSupportedContent{
    flex: 0 0 33%;
}

.nav-link.active {
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
}

.nav-item {
    padding-right: 16px;
}


a{
    text-decoration: none;
}

.slider-frame img{
    width: 100%;
    object-fit: contain;
}
.about-GR{
    display: flex;
    align-items: center;
}

.about-text{
    flex:  0 0 50%;
    max-width: 50%;
}

.about-img{
    flex: 0 0 50%;
    text-align: center;
}

.about-GR h1{
    font-size: 40px;
    position: relative;
    padding-bottom: 16px;
    font-family: 'Roboto', 'Titillium Web';
    font-weight: 700;
    /* font-family: 'Roboto', sans-serif; */
}

.about-GR h1::before{
position: absolute; content: ""; height: 2px; background: #0088cc; width: 14%; bottom: 0; left: 0
}

.about-GR p{
    margin-top: 40px;
    font-size: 16px;
    line-height: 30px;
    color: grey;
}

.about-text button{
    border: 2px solid #0088cc;
    background-color: transparent;
    padding: 8px 24px;
}
.about-text button a{
    color: #0088cc;
    text-decoration: none;
    text-align: center; 
    font-size: 15px;
    font-weight: inherit;
    font-family: 'Roboto', 'Titillium Web';
}
.about-text button:hover{
    background-color: #0088cc;
    color: white;
    transition: 0.5s ease-in-out;
    
}
.about-text button:hover a{
    color: white;
    transition: 0.5s ease-in-out;
}
/* .about-GR button{
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid blue;
    padding: 10px 20px;
} */
/* .btn{
    outline: none;
    border: 2px solid blue;
    font-size: 1rem;
    color: #0088cc;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
 } */

 /* .btn a {
    text-decoration: none;
 }

 .btn:hover{
    background-color: blue;
 }

 .btn a:hover{
    color: white;
 } */

/* .about-GR button a{
   color: blue;
   text-decoration: none;
} */

.information{
    background-color: rgb(0, 0, 0, 0.5);
}

.info-box ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.info-box ul li{
    width: 100%;
    text-align: center;
    margin: 45px 0px;
}

.info-box ul li i{
    font-size: 80px;
    text-align: center;
    color: #00daff;
}

.info-box ul li h1{
    text-align: center;
    padding-top: 15px;
    color: white;
    padding-top: 20px;
    font-size: 35px;
    font-weight: inherit;
    margin-bottom: 0px;
    font-family: 'Open Sans', 'Titillium Web';
}

.info-box ul li h5{
    text-align: center;
    color: #00daff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 19.5px;
    font-family: 'Open Sans', 'Titillium Web';
}

.our-products-image ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;

}
.our-products-image ul li{
    width: calc(33.33% - 10px);
    padding-bottom: 15px;
    padding-left: 25px;
}


.wrapper img{
    object-fit: cover; 
    width: 100%;
    aspect-ratio: 3/2;
    /* -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out; */
    transition: 1s ease-in-out;
    overflow: hidden;
    
      
}

.wrapper:hover img{
    transform: scale(1.15);
    /* -webkit-transform: scale(1.2);
    transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2); 
    -webkit-transform: scale(1.2,1.2); */
    opacity: 0.7;
    
}

.wrapper{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;   
    /* background-color: rgb(0, 0, 0, 0.5); */
    
}




/* .wrapper{ position: relative; transition: 350ms ease-in-out;} */
.wrapper::before{ position: absolute; content: ""; height: 100%; background: rgb(0, 0, 0, 0.0 ); width: 100%; top: 0; left: 0; transition: 350ms ease-in-out; }
.wrapper .productTitle{ opacity: 0; transition: 350ms ease-in-out;}
.wrapper:hover::before{ display: block;  background: rgb(0, 0, 0, 0.8 );}
.contentBox{ display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;  position: absolute; top: 0; bottom: 0 ; }
.wrapper:hover .productTitle {background: rgb(0, 0, 0, 0.4 ); width: 100%; height: auto; display: block; text-align: center; opacity:1; }


.productTitle{
    text-decoration: none;
    color: white;
    opacity: 1;
    width: 100%;
    text-align: center;
    font-size: 30px;
    opacity: 1;
    padding: 12px;
    font-family: 'Titillium Web', 'Titillium Web';
}
.productTitle:hover{background: #000000; width: 100%; height: auto; ; text-align: center; opacity: 1;color: #0088cc;}
/* .wrapper h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25px;
    opacity: 1;
    text-align: center;
}

.wrapper h1:hover{
    opacity: 1;
} */

.our-products-text{
    text-align: center;
    
}

.our-products-text p{
    color: #00daff; 
    font-weight: 100;
    font-size: 45px;  
    padding-bottom: 22px;
    

}

.our-products-text p span{
    font-weight: 700;
    color: #000000; 
    position: relative;
    padding-bottom: 15px;
    font-size: 40px;
    font-family: 'Roboto', 'Titillium Web';
    /* border-bottom: 3px solid #00daff; */
}

.our-products-text p span::before{ 
    position: absolute; content: ""; height: 2px; background: #0088cc; width: 90%; bottom: 0; left: 5%}

.our-products{
    padding: 100px 0px;
}
/* .est-year{
    width: 25%;
}
.mtpa{
    width: 25%;
}
.extru-line{
    width: 25%;
}
.knitting-line{
    width: 25%;
}

.icons{
    font-size: 80px;
    text-align: center;
    padding-top: 60px;
    color: rgb(44, 164, 233);
}

.text{
    text-align: center;
    padding-top: 15px;
}

.text h1{
    color: white;
}

.text h3{
    color: rgb(44, 164, 233);
} */

/* .our-products{
    margin-top: 60px;
}

.our-products-text{
    text-align: center;
    font-size: 25px;
    
}

.our-products-img-line-1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img{
    height: 100%;
    max-height: 90%;
    padding: 10px;
    width: 100%;
    object-fit: contain;
}

.product-img img{
    width: 100%;
    object-fit: contain;
}

.our-products-img-line-2{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner{
    width:100%;
    background-color: #000000;
    position: relative;
    color: white;
    min-height: 150px;
    align-items: center;
    text-align: center;
}

.banner h1{
    padding: 25px;
    line-height: 1;
}


.product ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.product ul li img {
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition-duration: 1000ms;
    float: left;  
  
}

.product ul li img:hover{
    transform: scale(1.15);
    -webkit-transform: scale(1.2);
    transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2);
    opacity: 0.7;
  
}


.product ul li p {
    font-size:23px;
    margin: 15px;
    font-weight: 2500;
    color:#55595c;   
}

.product ul li{
    background-color: #f7f7f7;
    padding-bottom: 40px;
    margin: 10px;
}

.product ul li button {
    background-color: transparent;
    color: #55595c;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    border:2px #55595c solid;
}

.product button:hover {
    background-color: #3db1ff;
    border-color:#3db1ff ;
    color: white;
}











.specific-req{
    background-color: rgb(0, 0, 0);
    height: auto;
}

.specific-req h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.requirement{
    margin: 0px;
}

.requirement b{
    padding: 30px 0px;
}

.footer{
    background-color: #262626;
    
}


.footer-content{
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
}

.quick-links{
    width: 33%;
    color: white;
    text-decoration: none;
}

.quick-links h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.quick-links ul li a{
    color: white;
    text-decoration: none;
    font-family: "Roboto", Titillium Web;
    font-weight: 600;
    font-size: 16px;
    padding-left: 25px;
}

.quick-links ul{
    list-style: none;
    padding-top: 20px;
    line-height: 35px;
    padding-left: 0;
}

.contact-us{
    width: 33%;
}

.contact-class{
    display: flex;
    padding-bottom: 15px;
    line-height: 25px;
}

.maps{
    width: 33%;
}

.contact-us h1{
    color: white;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.contact-us-text p a{
    color: white;
    margin: 0;
    text-decoration: none;
}

.contact-us-text p a:hover{
    color: #3db1ff;
}

.contact-us-text p{
    margin: 0;
}

.contact-us-text{
    padding: 0px 25px;
}

.footer-icon{
    color:#3db1ff;
    font-size: 15px;
}

iframe{ 
    width: 100%; height: 300px;
}

.partition{
    display: block;
    height: 0;
    border: 1px solid #ffffff;
    margin-top: 50px;
}

.powered-by h6{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 15px;
    padding-bottom: 20px;
}


.navbar-light .navbar-toggler {
    color: red !important;
    border-color: red !important;
}



/* Ipad Pro */
@media only screen and (max-width: 1024px) {

    .about-GR {
        padding-left: 7px
    }

    /* .our-products-image ul li {
        width: 42%;
    } */

    .our-products-image ul li img {
        padding-left: 6px;
    }

    #navbarSupportedContent {
        flex: 0 0 41%;
    }
    .info-box ul {
        padding-left: 4px;
    }
    .our-products-image ul li{
        padding-left: 35px;
    }
    .our-products-image ul{
        padding-left: 0px;
    }
    .quick-links{
        width: 50%;
    }
    .contact-us{
        width: 50%;
    }
    .maps{
        width: 100%;
        padding-top: 30px;
    }

    .quick-links h1{
        font-size: 48px;
    }
    .quick-links ul li a {
        font-size: 21px;
        line-height: 48px;
    }

    .contact-us h1{
        font-size: 48px;
    }

    .contact-us-text p{
        font-size: 21px;
        line-height: 41px;  
    }
    .specific-req p {
        padding-top: 16px;
        font-size: 27px;
    }
}


/* Ipad */
@media only screen and (max-width: 1024px) {

    .our-products-image ul li {
        width: 45%;
    }

    .our-products-image ul li img {
        padding-left: 20px;
    }
    .info-box ul li h5{
        font-size: 17px;
    }

    .info-box ul li i {
    font-size: 70px;
    }

    .our-products {
        padding: 50px 0px;
    }

    .our-products-text p {
        padding-bottom: 25px;
    }
    
    .our-products-image ul li {
        padding-left: 0px;
    }
    .product ul li {
        width: 47%;
    }


}






/* Iphone Xr */
@media only screen and (max-width: 991px) {

    .about-img img{
        display: none;
    }
    .about-GR{
        display: inline;
        padding: auto;
    }
    .about-text{
        max-width: 100%;      
    }
    .info-box ul li{
        width: 100%;
    }
    .our-products-image ul li{
        padding-left: 5px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("C:\Users\Krushit\OneDrive\Desktop\Website\Hamburger.png") !important;
    }
    .requirement b {
        font-size: 28px;
    }
    .requirement b {
        padding: 19px 0px;
    }
    .quick-links ul li a {
        font-size: 16px;
        line-height: 35px;
    }
    .quick-links ul {
        padding-top: 9px;
    }
    .quick-links h1 {
        font-size: 33px;
    }
    .contact-us h1 {
        font-size: 33px;
    }
    .contact-class {
        padding-bottom: 20px;
    }
    .contact-us-text p{
        font-size: 16px;
        line-height: 24px;
    }

    .info-box ul li i {
        font-size: 60px;
    }
    .info-box ul li h1 {
        font-size: 25px;
    }
    .info-box ul li h5 {
        font-size: 14px;
    }

    .info-box ul li {
        margin: 35px 0px;
    }
    .about-text{
        padding-bottom: 40px;
    }
    .product ul li {
        width: 47%;
    }

}


/* Galaxy Tab S4 */
@media only screen and (max-width: 768px) {   

     .our-products-image ul li {
        padding-left: 0px;
    }
    .info-box ul li{
        width: 50%;
        margin: 20px 0px; 
    }
    .info-box ul {
        flex-wrap: wrap;
    }
    .info-box ul li i {
        font-size: 80px;
    }
    .info-box ul li h1 {
        font-size: 35px;
    }
    .info-box ul li h5 {
        font-size: 20px;
    }
    .our-products-image ul li {
        width: 50%;
    }
    .requirement b {
        font-size: 21px;
    }
    .quick-links {
        width: 50%;
    }
    .contact-us {
        width: 50%;
    }
    .quick-links ul {
        padding-left: 5px;
    }
    .contact-class {
        padding-bottom: 16px;
    }
    .contact-us h1 {    
        padding-bottom: 10px;
    }
    .maps {
        padding-top: 40px;
    }
    .footer-content {
        padding-top: 50px;
    }
    .product ul li {
        width: 47%;
    }   
    /* .about-GR{
    flex-wrap: wrap;
    align-items: center;
    }

    .our-products {
    flex-wrap: wrap;
    }
    .our-products-img-line-1 img{
        width: 100%;
    }
    .our-products-img-line-2 img{
        width: 100%;
    }

    .about-text h1{
        margin-top: 0px;
    }
    .specific-req p{
        font-size: 25px;
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-text{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .quick-links{
        width: 30%;
    }

    .contact-us{
        width: 34%;
    }
    .maps{
        width: 37%;
    }
    
    .info-box ul {
        flex-wrap: wrap;
    }

    .info-box ul li {
        width: 50%;
    } */

}


@media only screen and (max-width: 575px) {
    /* .about-GR{ margin-top: 50px; flex-wrap: wrap;}
    .about-GR h1{ font-size: 25px;} */
    .logo img {
        height: 21px;
        width: 116px;
        margin-left: 6px;
    }

    .about-GR h1 {
        font-size: 25px;
    }

    .about-GR p {
        margin-top: 15px;
        font-size: 12px;
        line-height: 20px;
        color: grey;
    }

    .about-GR{
        margin: 30px;
    }
    .about-GR button{
        margin-top: 10px;
        padding: 7px 10px;
    }

    .our-products {
        margin-top: 25px;
    }

    .our-products-text {
        font-size: 15px;
    }

    .our-products-img-line-1 {
        margin-top: 10px;
    }

    .specific-req {
        margin-top: 10px;
        height: 60px;
    }

    .about-img img {
        width: 305px;
        
    }

    .specific-req p{
        font-size: 16px;
    }
    .footer-content{
        flex-wrap: wrap;
    }
    .quick-links ul{
        font-size: 14px;
        line-height: 34px;
        width: 200px;
    }
    .quick-links h1{
        font-size: 24px;
    }
    .contact-us{
        padding-left: 100px;
    }
    .contact-us h1{
        font-size: 24px;
    }
    .contact-us-text p{
        font-size: 14px;
        line-height: 22px;
        width: 150px;
    }
    .contact-class{
        padding-bottom: 7px;
    }
    .maps{
        padding-top: 15px;
    }

    .info-box ul li h5 {
        font-size: 15px;
    }
    .info-box ul li h1 {
        font-size: 25px;
    }
    .info-box ul li i {
        font-size: 60px;
    }
    .info-box ul li{
        width: 50%;
    }
    .about-text {
        padding-top: 25px;
    }
    .info-box ul li i {
        font-size: 45px;
    }
    .info-box ul li h1 {
        font-size: 20px;
    }
    .info-box ul li h5 {
        font-size: 12px;
    }
    .info-box ul li {
        margin: 15px 0px;
    }
    .our-products-text p {
        font-size: 30px;
    }
    .our-products {
        padding: 12px 0px;
    }
    .requirement b {
        font-size: 14px;
    }
    .quick-links {
        width: 100%;
        padding-bottom: 20px;
    }
    .contact-us {
        padding-left: 0px;
    }
    .contact-us-text p {
        width: 290px;
    }
    .quick-links h1 {
        font-size: 30px;
    }
    .quick-links ul li{
        line-height: 20px;
    }
    .quick-links ul li a{
        font-size: 12px;
        line-height: 27px;
    }
    .contact-us-text p {
        font-size: 12px;
        line-height: 20px;
    }
    .contact-class {
        padding-bottom: 22px;
    }
    .product ul li {
        width: 100%;
    }

    
}



  